/* mwuSlider */
.wmuSlider {position: relative; overflow: hidden;}
.wmuSliderWrapper { z-index:-10;}
        .wmuSlider .wmuSliderWrapper {}
                .wmuSlider .wmuSliderWrapper article {position: relative; text-align: center; float: none !important; display: table-cell;}
                        .wmuSlider .wmuSliderWrapper article img {max-width: 100%; height: auto;}

/* mwuGallery */
.wmuGallery .wmuGalleryImage {position: relative; text-align: center;}
        .wmuGallery .wmuGalleryImage img {max-width: 100%; width: auto; height: auto;}
/* Default Skin */
.wmuGallery .wmuGalleryImage {margin-bottom: 10px;}
.wmuSliderPrev, .wmuSliderNext {position: absolute; width: 40px; height: 80px; text-indent: -9999px; background: url(/images/system/sprites.png) no-repeat 0 0; top: 50%; margin-top: -40px; z-index: 2;}
.wmuSliderPrev {background-position: 100% 0; left: 20px;}
.wmuSliderNext {right: 20px;}
.wmuSliderPagination {z-index: 2; position: absolute; left: 20px; bottom: 10px; margin:0 auto;}
        .wmuSliderPagination li {float: left; margin: 0 5px 0 0; list-style-type: none;}
        .wmuSliderPagination a {display: block; text-indent: -9999px; width: 10px; height: 10px; background: url(/images/system/sprites.png) no-repeat 0 -80px;}
                .wmuSliderPagination a.wmuActive {background-position: -10px -80px;}

.wmuSlider .wmuSliderWrapper {transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); position: relative; top: 25%;}
.wmuSlider.gallery {height: 350px !important; transition: height 0.2s ease-in-out;}
        .wmuSlider .wmuSliderWrapper article img { max-height: 483px; transition: height 0.2s ease-in-out; -moz-transition: height 0.2s ease-in-out; -webkit-transition: height 0.2s ease-in-out; }

/* --------------------------------------------
   Photo Gallery Styles Tablet
-------------------------------------------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1){
/* Changes for profile page to fix shifting heights */
.wmuSlider.gallery {height: 387px !important;}
        .wmuSlider .wmuSliderWrapper article img { max-height: 387px; }
}

/* --------------------------------------------
   Photo Gallery Styles Mobile
-------------------------------------------- */

@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
/* Changes for profile page to fix shifting heights */
.wmuSlider.gallery {height: 375px !important;}
        .wmuSlider .wmuSliderWrapper article img { max-height: 375px; }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 479px) {
/* Changes for profile page to fix shifting heights */
.wmuSlider.gallery {height: 213px !important;}
        .wmuSlider .wmuSliderWrapper article img { max-height: 213px; }
}

