/* nextViewCtrl=M;  sectionCtrl=M;  sectionAtAGlance=M; */

.headerRightMMM [class*="sectionAtAGlance"]      { display:inline-block; }

/* mobile */
.headerRightMMM [class*="nextViewCtrl"]          { display:inline-block; float:left; width:100%; }
.headerRightMMM [class*="sectionCtrl"]           { display:inline-block; width:100%; }
.headerRightMMM [class*="sectionAtAGlance"]      { display:inline-block; width:100%; }

@media only screen and (min-width: 400px) /* medium size phone */
{
   .headerRightMMM [class*="nextViewCtrl"]          { float:left; width:50%; }
   .headerRightMMM [class*="sectionCtrl"]           { width:50% }
   .headerRightMMM [class*="sectionAtAGlance"]      { width:100% }
}
@media only screen and (min-width: 600px) /* tablet */
{
   .headerRightMMM [class*="nextViewCtrl"]          { float:left; width:50%; }
   .headerRightMMM [class*="sectionCtrl"]           { width:50% }
   .headerRightMMM [class*="sectionAtAGlance"]      { width:100% }
}
@media only screen and (min-width: 800px) /* desktop */
{
   .headerRightMMM [class*="nextViewCtrl"]          { float:left; width:32%; }
   .headerRightMMM [class*="sectionCtrl"]           { width:32% }
   .headerRightMMM [class*="sectionAtAGlance"]      { width:32% }
}
@media only screen and (min-width: 1200px) /* full screen */
{
   .headerRightMMM [class*="nextViewCtrl"]          { float:left; width:32%; }
   .headerRightMMM [class*="sectionCtrl"]           { width:32% }
   .headerRightMMM [class*="sectionAtAGlance"]      { width:32% }
}
@media only print /* for printing of pages */
{
   .headerRightMMM [class*="nextViewCtrl"]          { float:left; width:32%; }
   .headerRightMMM [class*="sectionCtrl"]           { width:32% }
   .headerRightMMM [class*="sectionAtAGlance"]      { width:32% }
}
