.navbar-custom {
  /* background-color: transparent; */
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-custom .navbar-nav li a {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 18px;
  background-color: transparent !important;
  margin: 0 7px;
  letter-spacing: 0.05em;
  line-height: 24px;
  transition: all 0.2s;
}

.navbar-custom .nav-social li a {
  color: #004cff !important;
  font-size: 18px;
  padding: 0.5rem;
}

.navbar-custom .navbar-toggler {
  color: #fff;
  font-size: 35px;
  padding: 0px;
}

.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active,
.navbar-custom .navbar-nav li.active a {
  color: #004cff !important;
  transform: scale(1.1);
}

.navbar-custom.nav-sticky {
  background-color: #1a1a1a !important;
  padding: 15px 0px;
}

.nav-social .facebook {
  border: 2px solid #5f5f5f;
  border-radius: 50%;
  height: 40px;
  display: inline-block;
  width: 40px;
  text-align: center;
  line-height: 38px;
}

.nav-social .nav-number span {
  font-size: 13px;
}

.nav-social .nav-number i {
  position: relative;
  top: 3px;
  font-size: 18px;
}

.dropdown-custom {
  top: 65px;
  left: auto;
  background-color: rgba(0, 0, 0, 0.7) !important;
  border-radius: unset;
  border: none;
  display: none;
}

.checklabel {
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 18px;
  background-color: transparent !important;
  margin: 0 7px;
  letter-spacing: 0.05em;
  line-height: 24px;
  transition: all 0.2s;
  cursor: pointer;
}

.checklabel:hover {
  transform: scale(1.1);
  color: #004cff !important;
}

#officeCheck:checked ~ .dropdown-custom,
input:checked ~ ul {
  display: block;
}

.dropdown-menu {
  margin-top: 0;
  display: none;
}

.dropdown-menu .dropdown-toggle::after {
  vertical-align: middle;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
  left: 100%;
  top: 0%;
  margin: 0 1px;
  border-width: 0;
}
.dropdown-menu .dropdown .dropdown-menu.left {
  right: 100%;
  left: auto;
}

.dropdown-menu > li a:hover,
.dropdown-menu > li.show {
  color: #004cff;
}

.dropdown-item:hover {
  background-color: transparent;
}

@media (min-width: 768px) {
  .dropdown-menu .dropdown .dropdown-menu {
    margin: 0;
    border-width: 1px;
  }
}
