/* nextViewCtrl=M;  sectionCtrl=M;  sectionAtAGlance=0; */

.headerRightMM0 [class*="sectionAtAGlance"]      { display:none; }

/* mobile */

.headerRightMM0 [class*="nextViewCtrl"]          { float:left; width:100%; }
.headerRightMM0 [class*="sectionCtrl"]           { width:100% }

@media only screen and (min-width: 400px) /* medium size phone */
{
   .headerRightMM0 [class*="nextViewCtrl"]          { float:left; width:100%; }
   .headerRightMM0 [class*="sectionCtrl"]           { width:100% }
}
@media only screen and (min-width: 600px) /* tablet */
{
   .headerRightMM0 [class*="nextViewCtrl"]          { float:left; width:100%; }
   .headerRightMM0 [class*="sectionCtrl"]           { width:100% }
}
@media only screen and (min-width: 800px) /* desktop */
{
   .headerRightMM0 [class*="nextViewCtrl"]          { float:left; width:49%; }
   .headerRightMM0 [class*="sectionCtrl"]           { width:49% }
}
@media only screen and (min-width: 1200px) /* full screen */
{
   .headerRightMM0 [class*="nextViewCtrl"]          { float:left; width:49%; }
   .headerRightMM0 [class*="sectionCtrl"]           { width:49% }
}
@media only print /* for printing of pages */
{
   .headerRightMM0 [class*="nextViewCtrl"]          { float:left; width:49%; }
   .headerRightMM0 [class*="sectionCtrl"]           { width:49% }
}
