#divAuthorizeNetPopupScreen    { position:fixed; left:0px; top:0px; width:100%; height:100%; z-index:1; background-color:#808080; opacity:0.5; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)'; filter:alpha(opacity=50); }
#divAuthorizeNetPopup          { left:25%; top:25%; width:450px; z-index:2; overflow:visible; }
.AuthorizeNetPopupSimpleTheme .AuthorizeNetPopupOuter { border:1px solid #585858; background-color:#ffffff; }
